#container{
	background: url(../../images/law_bg.jpg) left repeat;
	height: 810px;text-align: center;
}
#sliderC h2{
	padding: 70px 0 70px 0;
	font-size: 28px;
	margin: 0 auto;
	border-bottom: 1px solid #cfcfcf; width: 1020px;
	text-transform: uppercase;
}
.laws{
	padding: 70px 50px 0 50px; line-height: 1.6;
}
.laws h4{
	margin-bottom: 10px;
}
.laws p{
	margin: 0 auto 20px auto;
	font-size: 12px;
	width: 960px;
}
.maps{
	margin: 70px auto;
	width: 1000px;
}
.maps ul{
	float: left;
	margin-right:  45px;
	text-align: left;
}
.maps ul h4{
	font-size: 14px; margin-bottom: 20px;text-transform: uppercase;
}
.maps ul li{
	font-size: 12px; padding-bottom: 10px;
}
.maps ul li a{
	color: #666;
}